doctype html
html(lang='zxx')
  head
    title Pug Error Page Responsive Widget Template :: W3layouts
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(name='keywords', content='Pug Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    link(rel='stylesheet', href='/static/css/Errstyle.css', type='text/css', media='all')
  body
    section.w3l-error-9
      .error-page
        .wrapper-full
          .main-content
            h2= error.message
            h4= error.status
            //- p
            //-     pre= error.stack
            // buttons
            .buttons
              a.btn.brk-btn-bg.brk-btn(href='/')
                | Go to Homepage
